<div class="bg-success text-light border mx-2 my-2 px-2 py-2">
  <div>
    <h1>Nuevo Portfolio de Mauricio</h1>
  </div>
  <div>
    <p>Esta página es la que va a reemplazar al portfolio de Argentina Programa. No crean que va a ser
      superior a la versión 01 o va a estar dotada de inteligencia artificial, solo va a ser diferente.
    </p>
  </div>
  <div>
    <h2>Estructura inicial</h2>

    <app-header></app-header>
    <app-secciones></app-secciones>
    <app-footer></app-footer>
  </div>
</div>